body {
    text-align: center;
    background-color: forestgreen;
}

fieldset {
    background-color: white;
    padding: 25px;
    text-align: left;
}

legend {
    font-weight: bold;
}

.letterButton:hover {
    background-color: red;
    color: white;
}
#holidayTooltip #holidayTip {
    visibility: hidden;
    width: 250px;
    background-color: red;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 11pt;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}
#holidayTooltip:hover #holidayTip {
    visibility: visible;
}
#graphics #hintTip{
    visibility: hidden;
    width: 250px;
    background-color: red;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 11pt;
    position: absolute;
    z-index: 1;
    left:44%;
}
#graphics:hover #hintTip{
    visibility: visible;
}
#jail{
    position: relative;
    top: 0;
    left: 0;
}
#head{
    position: absolute;
    top: 25%;
    left: 47%;
    display: none;
}
#body{
    position:absolute;
    top: 42%;
    left: 49.5%;
    display: none;
}
#rightArm{
    position:absolute;
    top: 42%;
    left: 50%;
    display: none;
}
#leftArm{
    position:absolute;
    top: 42%;
    left: 47%;
    display: none;
}
#rightLeg{
    position:absolute;
    top: 69%;
    left: 49.8%;
    display: none;
}
#leftLeg{
    position:absolute;
    top: 69%;
    left: 46.5%;
    display: none;
}